<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
</head>
<body>
    <div th:fragment="header">
    <nav class="">
        <div class="container-fluid">
            <ul>
            <li><a class="navbar-brand" name="Logo" th:href="@{/index}">TaskGram</a></li>
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/tasks}">Task List</a></li>
            <li><a th:href="@{/createTask}">Create Task</a></li>
            <li><a th:href="@{/user_list}">User List</a></li>
        </ul>
            <div class="d-flex">
                <a class="btn" th:href="@{/register}">Register</a>
                <a class="btn" th:href="@{/login}">Login</a>
            </div>
            <div>
                <a th:heaf="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</div>
</body>
</html>