<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskGram App: User List </title>
</head>
<body>
    <div th:replace="~{common/header :: header}"></div>
        <div class="container">
            <div>User List</div>
            <div class="row">
                <div th:if="${param.success}">
                    <div>
                        <strong> success!</strong>Task has been updated added successfully .
                        <button type="button" aria-label="Close"></button>
                    </div>
                </div>
                <div>

                    <div th:if="${param.error}">
                        <strong> error!</strong> Task has not been added successfully.
                        <button type="button" aria-label="Close"></button>
                    </div>
                </div>
                <div>
                    <div th:if="${param.updated}">
                        <strong> success!</strong> Task has been updated successfully.
                        <button type="button" aria-label="Close"></button>
                    </div>
                </div>

                <div>
                    <div th:if="${param.delete}">
                        <strong> success!</strong> Task has been deleted successfully.
                        <button type="button" aria-label="Close"></button>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Start Date</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user, userStat : ${users}">
                            <td th:text="${userStat.count}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.startDate}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <a class="">Active</a>
                                <a class="">Block</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>